body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f8fa;
}

.navbar {
  background-color: #2268f2;
  padding: 10px;
}

.navbar button {
  background-color: #1751c1;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.navbar button.active {
  background-color: white;
  color: #2268f2;
  border: 2px solid #2268f2;
}

.container {
  padding: 20px;
}
/* Diseño del cuadro info del inicio donde se habla sobre la ia */
.info-box {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 1500px;
}

.info-box h2 {
  color: #2268f2;
}

/* Diseño de cada cuadro semana (imagen 2) */
.semana-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 15px;
  max-width: 1500px;
}

.semana-card h3 {
  color: #2268f2;
  margin-top: 0;
}
